
<body>
    <div class="instructor">OUR FITNESS EXPERTS</div>
    <div class="container1">
        <div class="content1">
            <img src="assets/images/ROBERT.jpg">
        </div>
        <div class="content2">
            <pre>
                Name              : Robert
                Experience    : 2+years
                MailId              : robert@luvfit.com
                Specialization:Weight Loss<br>
                DESCRIPTION:
                He is the most dedicated person who helps people to achieve their goals like weight
                loss,gain,other issues like neck pain,knee pain..


                </pre>

         </div>
        </div>

        <div class="container2">
            <div class="content1">
                <img src="assets\images\John.png">
            </div>
            <div class="content2">
                <pre>
                    Name              : John
                    Experience    : 2+years
                    MailId              : john@luvfit.com
                    Specialization:Weight Management<br>
                    DESCRIPTION:
                    John is the most dedicated person who helps people to achieve their goals like weight
                    loss,gain,other issues like neck pain,knee pain..


                    </pre>
            </div>
    </div>

    <div class="container3">
        <div class="content1">
            <img src="assets\images\Rithick.png">
        </div>
        <div class="content2">
            <pre>
                Name              : Rithick
                Experience    : 2+years
                MailId              : rithick@luvfit.com
                Specialization:Weight gain<br>
                DESCRIPTION:
                He is the most dedicated person who helps people to achieve their goals like weight
                loss,gain,other issues like neck pain,knee pain..


                </pre>

        </div>
        
    </div>

    <div class="container4">
        <div class="content1">
            <img src="assets\images\fit.jpg">
        </div>
        <div class="content2">
            <pre>
         Name              : AnuPriya
         Experience    : 2+years
         MailId              : anupriya@luvfit.com
         Specialization:Weight Loss<br>
         DESCRIPTION:
         She is the most dedicated person who helps people to achieve their goals like weight
         loss,gain,other issues like neck pain,knee pain..


         </pre>


        </div>
</div>
<div class="dup"></div>
<footer>
    <div class="footer-content">
        <h3>LUV FIT</h3>
        <p>LUV FIT is the health and fitness Consultancy website where we can make use of many things
            like weight loss,weight gain and weight-management.</p>
        <ul class="socials">
          <li><a href="https://www.facebook.com/profile.php?id=100090517355244"><i class="fa fa-facebook"></i></a></li>
					<li><a href="https://twitter.com/KDhivyaa"><i class="fa fa-twitter"></i></a></li>
					<li><a href="https://www.linkedin.com/in/luvfit-a-322640266/"><i class="fa-brands fa-linkedin"></i></a></li>

         </ul>
    </div>
    <div class="footer-bottom">

        <p>copyright &copy;2022 <a href="#">LUV FIT</a>  </p>
     </div>
  </footer>
</body>

