
<body>
    <div class="instructor">OUR YOGA EXPERTS</div>
    <div class="container1">
        <div class="content1">
            <img src="assets/images/preethi.jpeg">
        </div>
        <div class="content2">
            <pre>
                Name              : Preethi
                Experience    : 2+years
                MailId              : preethi@luvfit.com
                Education       : M.A(Yoga)
                Specialization:Weight Management<br>
                DESCRIPTION:
                She is the most dedicated person who helps people to achieve their goals like weight
                loss,gain,other issues like neck pain,knee pain..


                </pre>

         </div>
        </div>

        <div class="container2">
            <div class="content1">
                <img src="assets\images\jenny.webp">
            </div>
            <div class="content2">
                <pre>
                    Name              : Jennifer
                    Experience    : 2+years
                    MailId              : jennifer@luvfit.com
                    Education       : M.A(Yoga)
                    Specialization:Weight Loss<br>
                    DESCRIPTION:
                    She is the most dedicated person who helps people to achieve their goals like weight
                    loss,gain,other issues like neck pain,knee pain..


                    </pre>

            </div>
    </div>

    <div class="container3">
        <div class="content1">
            <img src="assets\images\jhonsy.jpg">
        </div>
        <div class="content2">
            <pre>
                Name              : Jenani
                Experience    : 2+years
                MailId              : jenani@luvfit.com
                Education       : M.A(Yoga)
                Specialization:Weight gain<br>
                DESCRIPTION:
                She is the most dedicated person who helps people to achieve their goals like weight
                loss,gain,other issues like neck pain,knee pain..


                </pre>


        </div>
    </div>

    <div class="container4">
        <div class="content1">
            <img src="assets\images\sophia.jpg">
        </div>
        <div class="content2">

        <pre>
            Name              : Sophia
            Experience    : 2+years
            MailId              : sophia@luvfit.com
            Education       : M.A(Yoga)
            Specialization:Weight Loss<br>
            DESCRIPTION:
            She is the most dedicated person who helps people to achieve their goals like weight
            loss,gain,other issues like neck pain,knee pain..


            </pre>

        </div>
</div>
<div class="dup"></div>
<footer>
    <div class="footer-content">
        <h3>LUV FIT</h3>
        <p>LUV FIT is the health and fitness Consultancy website where we can make use of many things
            like weight loss,weight gain and weight-management.</p>
        <ul class="socials">
           <li><a href="https://www.facebook.com/profile.php?id=100090517355244"><i class="fa fa-facebook"></i></a></li>
					<li><a href="https://twitter.com/KDhivyaa"><i class="fa fa-twitter"></i></a></li>
					<li><a href="https://www.linkedin.com/in/luvfit-a-322640266/"><i class="fa-brands fa-linkedin"></i></a></li>
         </ul>
    </div>
    <div class="footer-bottom">

        <p>copyright &copy;2022 <a href="#">LUV FIT</a>  </p>
     </div>
  </footer>
</body>


