
<body>
    <div class="instructor">OUR NUTRITIONIST</div>
    <div class="container1">
        <div class="content1">
            <img src="assets\images\Shiny.jpg">
        </div>
        <div class="content2">
            <pre>
                Name              : Shiny Surendran
                Experience    : 2+years
                MailId              : shiny@luvfit.com
                Education       : M.sc(Nutritionist)
                Specialization:PCOS,Insulin resistance
                Specialization:Weight Loss<br>
                DESCRIPTION:
                She is the most dedicated person who helps people to achieve their goals like weight
                loss,gain,other issues like neck pain,knee pain..
                </pre>
         </div>
        </div>

        <div class="container2">
            <div class="content1">
                <img src="assets\images\akila.jpg">
            </div>
            <div class="content2">

                <pre>
                    Name              : Akila
                    Experience    : 2+years
                    MailId              : akila@luvfit.com
                    Education       : M.sc(Nutritionist)
                    Specialization:PCOS,Insulin resistance<br>
                    DESCRIPTION:
                    She is the most dedicated person who helps people to achieve their goals like weight
                    loss,gain,other issues like neck pain,knee pain..


                    </pre>


            </div>
    </div>

    <div class="container3">
        <div class="content1">
            <img src="assets\images\swetha.jpg">
        </div>
        <div class="content2">
            <pre>
                Name              : Swetha
                Experience    : 2+years
                MailId              : swetha@luvfit.com
                Education       : M.sc(Dietics)
                Specialization:Weight Loss<br>
                DESCRIPTION:
                She is the most dedicated person who helps people to achieve their goals like weight
                loss,gain,other issues like neck pain,knee pain..

                </pre>
        </div>
    </div>

    <div class="container4">
        <div class="content1">
            <img src="assets\images\kamali.jpg">
        </div>
        <div class="content2">

        <pre>
            Name              : Kamalini
            Experience    : 2+years
            MailId              : kamalini@luvfit.com
            Education       : M.sc(Nutritionist)
            Specialization:Weight Loss<br>
            DESCRIPTION:
            She is the most dedicated person who helps people to achieve their goals like weight
            loss,gain,other issues like neck pain,knee pain..


            </pre>

        </div>
</div>
<div class="dup"></div>

    <div class="footer-content">
        <h3>LUV FIT</h3>
        <p>LUV FIT is the health and fitness Consultancy website where we can make use of many things
            like weight loss,weight gain and weight-management.</p>
        <ul class="socials">
           <li><a href="https://www.facebook.com/profile.php?id=100090517355244"><i class="fa fa-facebook"></i></a></li>
					<li><a href="https://twitter.com/KDhivyaa"><i class="fa fa-twitter"></i></a></li>
					<li><a href="https://www.linkedin.com/in/luvfit-a-322640266/"><i class="fa-brands fa-linkedin"></i></a></li>
         </ul>
    </div>
    <div class="footer-bottom">

        <p>copyright &copy;2022 <a href="#">LUV FIT</a>  </p>
     </div>

</body>
