    <div class="animated_gif">
      <img  src="assets/images/ezgif.com-gif-maker.gif"  alt="there must be a video" id="img">
      <br>

    <h1 class="our">OUR SERVICES</h1>
    <div id="grid-col">
      <div class="cell">
       <h6>Fitness Coach</h6>
       <div class="fit">
         <a routerLink="coach" >
          <img src="https://tse3.mm.bing.net/th?id=OIP.-5kRMB18o4sj9W9q5GHxnQHaE8&pid=Api&P=0">
        </a>
       </div>
     </div>
      <div class="cell">
     <h6>Nutritionist</h6>

     <div class="fit1">
       <a routerLink="nutritionist"><img src="https://tse4.mm.bing.net/th?id=OIP.zgMzcULJEMSkAIieav3aSwHaEJ&pid=Api&P=0"></a>
     </div>
      </div>
      <div class="cell">
       <h6>Yoga Instructor</h6>
       <div class="fit2">
         <a routerLink="yoga"><img src="https://tse2.mm.bing.net/th?id=OIP.rCPbfPBdAOWHpyNic_Jk_AHaE8&pid=Api&P=0"></a>
       </div>
     </div>
   </div>
<section>
  <div class="join">JOIN OUR COMMUNITY</div>
 <div class="css">

		<img src="https://media1.popsugar-assets.com/files/thumbor/Z9u0jKcLDQbuD4Lr-MiYWceEmX4/fit-in/2048xorig/filters:format_auto-!!-:strip_icc-!!-/2020/09/20/435/n/38922805/tmp_Q1xeAM_3194454048dabfa6_does-sweating-mean-youre-working-hard-during-workout.jpg" alt="class-header-performance" width="495" height="370" class="alignnone size-large wp-image-173" />

 </div>
  <div class="full-align">
  <div class="comm-join">Joining a fitness community has so many benefits.
	 There are various environments for fitness communities in every town and city.
	Finding one that fits who you are, what you want to accomplish and the type of people
	you want to be surrounded by will help in every way for your health and wellness journey.
   As much as working out from home can be convenient, sometimes it’s too convenient. Below,
   I point out 10 reasons why belonging to a fitness community will help you towards your
    fitness goals!

</div>
<a routerLink="/community" ><button class="btn1">Know Us ></button></a>
</div>
</section>
<section>
    <div class="ex">Upcoming Event</div>
  <div class="walk">
    <img src="assets\images\bann.jpg">
  </div>
  <marquee class="marquee">Registration link will be updated soon...</marquee>

  <div class="set">
    <img src="https://tse1.mm.bing.net/th?id=OIP.1Mg-NXW6c_3YzwPGFBZyfAHaE5&pid=Api&P=0">
     </div>
     <div class="set1">
    <img src="assets\images\surf.jpg">
     </div>
     <div class="cover">
     <div class="heaad">Luv Gallery</div><br>
     <div class="para">By seeing our website Gallery you might know about our website
    clearly and also make<br> use of them to create awareness among others you also get an idea
    to mingle and <br>participate in our events and make use of them in the form of their goals
    such as weight<br>loss,weight gain,weight-management.<br><br>
    <a href="/gallery" ><button class="btn4">Visit ></button></a>

     </div>

     </div>


    </section>

<app-footer></app-footer>



